.noticeWrapper {
    box-sizing: border-box;
    border-radius: 8px 8px 6px 6px;
    padding: 10px 5px;
    margin-bottom: 8px;
    background: #F67975;
    border: 2px solid darken(#F67975, 15%);
    height: 65px;
    max-height: 65px;
}

.noticeIcon {
    display: inline-block; 
    min-width: 10%;
    max-width: 10%;
    text-align: top;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 4px;
    color: #FFF;

}

.noticeBody {
    display: inline-block; 
    box-sizing: border-box;
    width: 85%;
    max-width: 85%; 
    font-family: 'Roboto'; 
    font-weight: bold; 
    font-size: 1em;
    letter-spacing: .5px;
    padding-left: 20px;
}

.noticeTitle {
    text-transform: uppercase;
    font-size: .9em;
    font-family: inherit;
    color: #fff;
    letter-spacing: .2em;

}

.noticeDetail {
    color: #FFF;
    font-size: .9em;
    font-family: inherit;
    font-weight: 300;
}