<div        
        class="noticeWrapper"
        *ngFor="let item of messageToasterService.List | async;"
        [ngClass]="item.NoticeCssClass"
        >
    <div class="noticeIcon">
        <i class="{{ item.NoticeIcon }}">&nbsp;</i>
    </div>

    <div class="noticeBody">
        <div class="noticeTitle">{{ item.id }} --> {{ item.Message }}</div>
        <div class="noticeDetail">{{ item.Details }}</div>
    </div>
</div>

{{ messageToasterService.List | async }}
