<style>
    .toggleContainer {
        margin-top: 5px;
        width: 35px;
        background: #9E9E9E;
        border-radius: 30px;
        height: 15px;
        position: relative;
        margin-top: 8px;
        display: inline-block;
    }
    /*.toggleContainer::before {

        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        left: 0px;
        content: " ";
        top: -3px;
        background: white;
        border: 1px solid #bdbdbd;;
        
    }*/
    
    .toggleCircle {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        left: 0px;
        content: " ";
        top: -3px;
        background: white;
        border: 1px solid #bdbdbd;
        ;
    }

    span{
        color: black;
        font-size: 1em;
        font-family: 'PT Sans';
    }
</style>
<span *ngIf="Indicator === 'false'">{{ OffText }}</span>
<div class="toggleContainer onToggle" (click)="Toggle()" #toggleContainer>
    <div class="toggleCircle" #toggle></div>
</div>
<span *ngIf="Indicator === 'true'">{{ OnText }}</span>

{{Indicator}}

