<div 
    class="button"
    [style.max-width.px]="buttonSize"
    [ngClass]="{ buttonDisabled : Disabled }">
    <span class="buttonText">
        <ng-content></ng-content>
    </span>
</div>
<!--[disabled]="disabled"-->
<!--<button
    [disabled]="disabled"
    [ngClass]="{ buttonDisabled : Disabled }">{{ ButtonText }}</button>-->