.button {
        /*width: 150px;*/
        max-width: 150px;
        padding: 12px 15px !important;
        max-height: 40px;
        /*line-height: 50px;*/
        border: 1px inset #114f87;
        border-radius: 3px;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-family: 'Lato Bold';        
        font-size: 14px;
        letter-spacing: .05em;
        text-align: center;
        text-transform: uppercase;
        background: #1976D2;
        color: whitesmoke;
        box-sizing: border-box;
    }

    .buttonText{
        
        
    }

    .buttonDisabled {
        opacity: .5;
    }
