<div 
    style="background: #254E70;margin-bottom: 10px; padding: 0px;font-family: 'RobotoSlab';color: #FFF; font-size: 1.1em; padding-left: 20px; padding-right: 20px;text-align: center;letter-spacing: .75px;text-transform: uppercase;position: relative; top: 0; left: 0;"
    [@marqueeOpening]="notice?.State"> {{ notice?.Message }}

 
            
</div>       
<!--
<button style="max-width: 30%;margin-top: 70px;" (click)="OpenMe()">OPen Me</button>
-->