:host {
    display: flex;
    width: 100%;
    
}
select {
        width: 100% !important;
        border: none;
    }

    .isOdd {
        background: #e2f4f2;
    }

    

    

    .header-section {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 700;
        letter-spacing: .025em;
        font-size: 12px !important;
    }

    .header-name {
        padding-left: 2%;
    }

   

    
    .data-item-source {
        flex: 1;
    }

    .data-item-date {
        flex: 1;
    }

    .data-item-duration {
        flex: inherit;
    }

    .data-item-assignee {
        flex: 2;
    }

    .data-item-duration {
        flex: 1;
    }

    .data-item-assignee>select {
        border: 1px solid #80bcb5;
    }

    div[disabled]{
        background: #ccc;
        opacity: .4;
    }

    div[disabled]:hover:disabled{
        background: unset;
    }

    .saveButton:hover{
        color: red;
    }

    .fa-lg { 
        margin-right: 15px;
    }

    .fa-lg:last-of-type {
        margin-right: 0;
    }

    .currentPage {
        background: #009688;
        color: #FFF;
        font-weight: 700;
        font-size: 12px !important;
    }