@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans+Condensed:300|PT+Sans');
@PrimaryGridColor: #014685;
@PrimaryGridHeaderFontSize: 13px !important;
@PrimaryGridHeaderFont: 'PT Sans', sans-serif !important;
@PrimaryGridHeaderHeight: 35px !important;
@GridPadding: 7px;

@GridFooterFontColor: #000;

.pt-san() {
    font-family: @PrimaryGridHeaderFont;
     
}