@import "data-grid-general";


:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    
}

.data-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: @PrimaryGridHeaderFont;
    font-size: @PrimaryGridHeaderFontSize;
    align-items: flex-start;
    padding-left: 2%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid @PrimaryGridColor;
    
    
}


.data-section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    width: 100%;
    //flex-grow: 1 !important;
}

.data-section:hover { 
    // background: lighten(@PrimaryGridColor, 55%);
    font-size: calc(@PrimaryGridHeaderFontSize+1px);
    color: #000;
    font-weight: 600;
}

.selectedRow {
    background: lighten(@PrimaryGridColor, 67%);;
}

.data-item-container {
    
}

.data-item {
    
    flex: 1;
    flex-shrink: 0;
}

.data-item-name {
    flex: 1;
    
}
