@import "data-grid-general";


:host {
    display: flex;
    flex-grow: 1;
    width: 100vw;
    max-width: 100%;
}

.grid-footer-section{
    display: flex;
    flex-grow: 1;
}

.footer-item {
    flex-grow: 1;
}

.grid-footer {
    display: flex;
    font-family: @PrimaryGridHeaderFont;
    font-size: @PrimaryGridHeaderFontSize;
    background: @PrimaryGridColor;
    color: @GridFooterFontColor;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: @GridPadding;
    // padding-bottom: @GridPadding;

}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 3;
    
}

.footer-container:last-of-type {
    flex: 2;
    background: inherit;
}

.grid-footer-section {
    display: flex;
    flex-direction: row;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid black;
    justify-content: center;
    font-size: 12px !important;
}

.grid-footer-section:first-child {
    background: #FFF;
}

.grid-footer-section:last-child {
    align-items: center;
    background: inherit;
    border: none;
}

.itemsPerPage {
    font-size: 12px !important;
    font-weight: 700;
    padding-right: 3%;
}

.footer-item {
    font-family: 'Raleway';
    font-size: 14px !important;
    padding: 2px 8px;
    border-right: 1px solid #000;
    transition: all 350ms ease-in;
}

.footer-item:hover {
    cursor: pointer;
    font-size: 14px !important;
}

.footer-item:hover:enabled {
    background: #80bcb5;
    color: #FFF;
}

.footer-item:last-of-type {
    border-right: none;
}

select {
    border-radius: 4px;
    padding: 0px 2px;
    max-width: 100% !important;
}