@import "data-grid-general";


:host {
    display: flex;
    // width: 100vw;
    max-width: 100%;
}


.header-section-container { 
    display: flex !important;
}

.data-grid {
    color: @PrimaryGridColor !important;

}

.grid-header {
    display: flex !important;
    box-sizing: border-box;
    flex: 1;
    color: @PrimaryGridColor !important;
    font-size: @PrimaryGridHeaderFontSize;
    line-height: @PrimaryGridHeaderHeight;
    height: @PrimaryGridHeaderHeight;
    .pt-san();
    font-weight: bold;
    letter-spacing: .100em;
    border-bottom: 1px solid @PrimaryGridColor;
  }

  .grid-header > div:first-of-type { 
      padding-left: 2%;
  }

  .grid-header > div {
    
  }