.myModal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(148, 148, 148, .9);
    left: 0;
    top: 0;
    content: '';
    z-index: 2;
}

.modal-wrapper {
    position: relative;
    margin: 10% 23%;
    width: 0vw;
    background: #FFF;
    border-radius: 4px;
    left: 100px;
    top: 100px;
    color: #FFF;
    z-index: 500;
    visibility: hidden;
    
}

.modalwrapperopen {
    animation-name: modalShow;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}

@keyframes modalShow {
    0% {
        width: 0vw;
        border: 0px solid darkred;
        opacity: 0;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: linear;
    }
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.3);
    }
    85% {
        transform: scale(1.1);
    }
    100% {
        width: 43vw;
        visibility: visible;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        transform: scale(1);
    }
}

.modal-heading {
    background: #014685;
    padding: 4px 8px;
    margin: 0px;
    min-height: 5vh;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
    display: flex;
}

.modal-heading>h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.3rem;
    padding-left: 3%;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0px;
    display: inline-block;
}

.modal-heading>span {
    font-weight: 500;
    font-size: 1.3rem;
    padding-left: 3%;
    font-size: 1rem;
    color: #FFF;
    margin: 0px;
    padding: 5px 12px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
    font-family: 'Roboto';
}

.modal-body {
    box-sizing: border-box;
    margin: 2%;
    z-index: 4;
    overflow-x: hidden;
    font-family: 'Roboto';
    font-size: 16px;
    display: flex;    
    flex-direction: column;         
    padding: 14px 7px;
    color: #000;

}

.close-modal {

    position: relative;
    top: 4px;
    float: right;
}

.close-modal::after {
    clear: both;
}


.modalTitleText {
    display: inline-block;
    flex-grow: 1;
}