.contact-chip-container {
    width: 100%;
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
    
}


div.card {
    display: flex;
    min-width: 220px;   
    max-width: 220px;
    font-family: "Lato";
    font-size: 11px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid lighten(#ccc, 5%);
    transition: all 250ms;
    background: #fff;
    margin: 2px;
}

div.card:focus {
    
    border: 3px solid pink;
}

.cardCommon {
    padding: 5px;
}

div.card:hover {
    border-left: 4px solid green;  
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px green;  
}



div.card:active {
    border: 1px solid darken(#ccc, 15%);;    
}


div.card > div.card-header {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    
}

div.card > div.card-header > div.photo {
    display: flex;
    box-sizing: border-box;
    min-width: 50px;
    .cardCommon();
}

div.card > div.card-header > div.photo > img {
    height: 50px;
    border-radius: 50%;
}

div.card > div.card-header > div.profile {
    display: flex;
    flex-grow: 1;
    .cardCommon();
    font-family: 'Lato', sans-serif;   
    font-size: .9em;
}

div.card > div.card-header > div.profile > div.contact {
    display: flex;
    flex-direction: column;
}

div.card > div.card-header > div.profile > div.contact > div.name {
    font-weight: 900;
     font-size: 1.1em;
     letter-spacing: .05em;
}

div.card > div.card-header > div.profile > div.contact > div.email {
    color: darken(#ccc, 5%);
    font-size: .9rem;
    text-transform: lowercase;
}

