.icon {
    font-size: 1.3em !important; 
    color: #009688 !important;
}

input[type="checkbox"] {
    visibility: hidden !important;
}

.growAndShrink { 


    animation-name: growAndShrink;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
}

.disabledContent {

    opacity: .4;
    pointer-events: none;
    color: #CCC;
}


@keyframes growAndShrink {
0% {
    width: 0vw; 
    border: 0px solid darkred;
    opacity: 0;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

25% {
    transform: scale(1.1);
    
}

75% { 
    transform:  scale(1.3);
   
}

100% {
    width: 70vw;         
    visibility: visible;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transform: scale(1);
}
}