
<i 
    class="fa fa-square-o checkbox icon"    
    aria-hidden="true"
    *ngIf="checked === false"
    ngClass="{ 'checkboxChecked': checked, 'disabledContent': disabled }"
    (click)="onCheckboxClick()">
</i>

<i 
    class="fa fa-check-square checkbox icon"
    aria-hidden="true"
    *ngIf="checked === true"    
    ngClass="{'checkboxChecked': checked, 'disabledContent': disabled}"
    (click)="onCheckboxClick()">
</i>