  :sfm-dialog {        
        display: flex;
        flex-direction: column;

    }

    .modalContainer {       
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: rgba(000, 000, 000, .8);
        /*background: rgba(148, 148, 148, .9); */
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 5%;
        opacity: 1;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }
    
    .modalWrapper {
        
        background: #fff;
        min-height: 300px;
        min-width: 300px;
        display: flex;
        margin-top: 1%;
        width: 50%;
        border-radius: 4px;
        align-items: center;
    }
    
    .myModal {
        display: flex;
        flex-direction: column;
        background: #FFF;
        z-index: 600;
        display: flex;
        flex-grow: 1;
    }

     .modal {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000;
        left: 0;
        top: 0;
        content: 'CCC';
        z-index: 1;
        
    }
    
    .modal-container {
        position: relative;
        margin: 1% 15%;
        width: 800px;
        height: 400px;
        background: #FFF;
        border-radius: 7px 7px 6px 6px;
        z-index: 12000;
        left: 100px;
        top: 100px;
        color: #FFF;
        z-index: 600;
    }
    
    .modal-heading {
        background: #014685;
        padding: 0px;
        margin: 0px;
        border-radius: 4px 4px 0px 0px;
    }
    
    .modal-heading>h3 {
        font-family: "Roboto Slab";
        font-weight: 700;
        font-size: 1.3rem;
        padding-left: 3%;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-top: 1%;
        padding-bottom: 1%;
        margin: 0px;
        display: inline-block;
    }
    
    .modal-heading>span {
        font-family: "Roboto Slab";
        font-weight: 500;
        font-size: 1.3rem;
        padding-left: 3%;
        font-size: 1rem;
    }
    
    .modal-body {
        margin-top: 1%;
        /* REMOVE AFTER DEVELOPMENT TESTING */
        margin-left: 1%;
        /* REMOVE AFTER DEVELOPMENT TESTING */
    }
    
    .modal-footer {
        
    }

    a {
       
        color: #fff;
    }

    .modal-error {
         z-index: 800;font-family: 'Roboto';font-size: 16px; font-weight: 400; 
                    letter-spacing: 0.01em; line-height: 30px;box-sizing: border-box;outline: none;
                    background: #009688; color: #fff;padding: 8px 10px;
    }

    .conditionError {
        background: #f44336;
    }

    .evaluateStatus {
        background: #009688;
    }
    