<div 
    style="position: absolute; right: 0px; top: 0px;max-width: 30%;width: 20%; z-index: 6000;padding: 1% .5%;">
       
        <sfm-notification></sfm-notification>

        <!-- [list]="listOfNotifications" -->
</div>
