<style>
    table {
        border: 1px double #014685;
        width: 100%;
        font-family: 'Roboto';
    }

    table:hover{
        cursor: pointer;
    }
    
    .calendarDayHeader {
        border: 1px dotted grey;
        text-align: center;
        height: 20px;
        width: 14%;
        color: #014685;
        text-transform: uppercase;
        font-size: .8em;
    }
    
    .tableHeaderRow {
        align-text: center;
        width: 100%;
        background: #014685;
        color: #FFF;
    }
    
    .tableHeaderRow>th {
        height: 30px;
        font-size: 1.3em;
        text-align: center;
    }
    
    .calendarMonthName {
        height: 30px;
        font-size: .9em;
        text-align: center;
        text-transform: capitalize;
    }

    .calendarDataRow{
        color: #000;
    }

    .calendarDataRow > td{
        border: 1px dotted grey;
        text-align: center;
        height: 20px; 
        width: 14%; 
        font-size: .8em;
    }

    .monthMove::hover   {
        cursor: pointer;
    }

    .claendarYear {
        position: relative;
        color: #000;
    }

    .selectedDay {

        background: #014685;
        color: #FFF;
        font-weight: 700;
        letter-spacing: .24em;
        
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

<div 
    style="border: 1px solid gray;height: 30px;color: #014685;text-align: center;padding-top: 4px;min-width: 200px;cursor: pointer;"
    (click)="onCalendarClick()">
    {{ CalendarDate | date}}
</div>

<table *ngIf="CalendarShown">
    <thead>
        <tr class="tableHeaderRow">
            <th colspan="1"
                class="monthMove"
                (click)="PreviousMonth()"><</th>
            <th colspan="4" class="calendarMonthName">{{Cal.MonthName}}</th>
            <th colspan="1"
                class="claendarYear"
                *ngIf="!YearSelectorShown">
                <span 
                    (click)="showYearSelector()"
                    style="color: #FFF;">{{ Cal.currentYear }} </span>
               
            </th>
            <th colspan="1"
                class="claendarYear"         
                *ngIf="YearSelectorShown">
                <select #year
                    name="YearSelection"
                    (change)="calendarYearChanged(year.value)">
                    <option *ngFor="let x of SelectableYears" value="{{x}}">{{ x }}</option>                    
                </select>
            </th>
            <th colspan="1"
                class="monthMove"
                (click)="NextMonth()">></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="calendarDayHeader">Sun</td>
            <td class="calendarDayHeader">Mon</td>
            <td class="calendarDayHeader">Tue</td>
            <td class="calendarDayHeader">Wed</td>            
            <td class="calendarDayHeader">Thu</td>
            <td class="calendarDayHeader">Fri</td>
            <td class="calendarDayHeader">Sat</td>
        </tr>
        <tr     class="calendarDataRow"
                *ngFor="let item of Cal.FullCalendarData">
            <td 
                *ngFor="let day of item"
                class="day{{day}}"
                #dayElement                
                (click)="SelectDate(day, dayElement)">
                    <span 
                        *ngIf="day !== 0"
                        
                        >{{day}}</span>
            </td>
        </tr>
    </tbody>
</table>