@import "../../../Theme/GreenPrime/variables";

.actionButton {
    margin-right: 10px;
    display: flex;
    background: @PrimaryColor; // #E2F4F2; //lighten(#009688, 20%);
    border: 1px solid darken(@PrimaryColor, 15%);
    margin-right: 5px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    font-size: .9em;
    min-width: 0;
    font-family: "Raleway";
    letter-spacing: .1em;
}

.actionButton:hover {
    background: darken(@PrimaryColor, 5%);
    color: @SecondaryColor;
}

.actionButton > div {
    
    margin-right: 5px;
    
}

.disabled:hover,
.disabled {
    background: @DisabledColor;
    border: 1px solid darken(@DisabledColor, 5%);
    opacity: .4;
    pointer-events: none;
    color: #000;
}


